<ul class="list-group w-100" *ngFor="let todo of todos">
    <br>
    <li class="list-group-item d-flex justify-content-between w-100">
        <span>
            <input type="checkbox" class="mr-2" (change)="changeTodoStatus(todo)" [checked]="todo.isCompleted">
        </span>
        <span class="text-success" [ngClass]="{completedTodo: todo.isCompleted }">
            {{todo.title | uppercase}}
        </span>
        <span class="text-success" [ngClass]="{completedTodo: todo.isCompleted }">
            {{todo.date | date: 'dd/mm/yyyy'}}
        </span>
        <span>
            <fa-icon [icon]="faTrashAlt" (click)="deleteTodoItem(todo)"></fa-icon>
        </span>
    </li>
    <!-- <br> -->
</ul>